__pycache__/
.google/
.idx/
.venv/
.vscode/
database/*
flask_session/*
log/*
temp_saves/*
templates/*copy.html
docs/
.env
#.dockerignore
.firebaserc
.gitignore
*copy.py
cloudbuild.yaml
*copy.json
config.json
devserver*
firebase.json
requirements*copy.txt
test_bench.py

