__pycache__/
.google/
.gradio/
.idx/
.venv/
.vscode/
database/*
flask_session/*
log/*
temp_saves/*
templates/*copy.html
texts/
.env
.firebaserc
.dockerignore
*copy.py
cloudbuild.yaml
config.json
#devserver*
example_world.txt
firebase.json
main_gradio.py
test_bench.py